 body{
  background-image: url(../img/Calculator-test.jpg);
 }



.calculator {
    position: absolute; /* Agregamos esta línea para poder usar las propiedades top, left, right y bottom */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Agregamos esta línea para centrar vertical y horizontalmente */
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #f4f4f491;
    border-radius: 10px;
    border: 0.5px solid #696969 ;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px repeat(5, 1fr);
    grid-gap: 1px;
  }
  
  .screen {
    grid-column: 2/ span 4;
    background-color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    font-size: 36px;
    font-weight: bold;
    text-align: right;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    grid-row: 2 /span 4;
    
  }
  
  button {
    background-color: #dcdcdc;
    border: none;
    border-radius: 22px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    
  }
  
  button:hover {
    background-color: #b8b8b8;
  }
  
  
  .clear {
    grid-column: 4 / span 1;
    grid-row: 6 / span 1;
  }
  
 
  

  
  .operator {
    background-color: #ff9500;
    color: #fff;
    grid-row: 4/ span 1;
    padding: 42px;
    height: 25px;
    width: 110px;
    box-shadow: 12px 0 0 #af6600 ;
   
  }
  
  .equals {
    background-color: #ff2d55;
    color: #fff;
    width: 110px;
    grid-row: 6 / span 1;
    box-shadow: 12px 0 0 #991b32e8 ;
   
  }

  .operator:hover{
    background-color: #af6600;
    border: none;
  }

  .divide-button{
    grid-row: 5 / span 1;
  }
  

  .multiply-button{
    grid-row: 4 / span 1;
  }

  .minus-button{
    grid-row: 3 / span 1;
  }

  .plus-button {
  grid-row: 2 / span 1;
  }
 
  .dot-button{
   grid-row: 5 /span 1;
   grid-column: span 1;  
   
  }

  .comma-button{
   grid-row: 6 / span 1;
   grid-column:  3 / span 1;
  }
  .button-seven{
    grid-row: 3 / span 1;
    grid-column: 2 /span 1;
  }

  .button-eight{
    grid-row: 3 / span 1;
    grid-column: 3 /span 1;
  }
  .button-nine{
    grid-row: 3 / span 1;
    grid-column: 4 /span 1;
  }

  .button-for{
    grid-row: 4 / span 1;
    grid-column: 2 / span 1 ;

  }
 
  .button-five{
    grid-row: 4 /span 1;
    grid-column: 3 /span 1;
  }

  .button-six{
    grid-row: 4 /span 1;
    grid-column: 4 / span 1;
  }
  
  .button-one{
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
  }

  .button-two{
    grid-row: 5 / span 1;
    grid-column: 3 /span 1;
  }

  .button-three{
    grid-row: 5 / span 1;
    grid-column: 4 / span 1;
  }
  .zero{
    grid-row: 6 /span 1;
    
  }

  .equals:hover{
 background-color: #991b32e8;
  }
  
 

